[Unit]
Description=Start scheduler service
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=5
WorkingDirectory=/home/kw-scheduler/ExperimentScheduler
ExecStartPre=/usr/bin/git pull
ExecStart=/usr/bin/python3 main.py --logdir logdir --public

[Install]
WantedBy=default.target
