{% extends 'base.html' %}


{% block container %}
<p>Hello {{user_name}}!
  <form method="post" name="logoutform" action="/logout">
    <input type="submit", value="Logout" class="btn btn-primary">
  </form>
</p>
<p>
  Here you can schedule programs to be run on the Kumazawa Lab workstation.<br><br>

  The scheduler tries to maximize resource usage, while keeping waiting times for everyone low.
  Therefore it aims to run as many programs as possible in parallel.

  <br><br>
  To account for both a low and a high number of queued programs, it might be necessary to redistribute the available resources
  among pending and active experiments, leading to situations where your program will be restarted.
  If your program cannot restart and continue where it left off, you will only be assigned one GPU at maximum.

  <br><br>
  Each user can only have one program in pending and active experiments. You can still queue further experiments,
  however they will be put into the waiting queue until your other experiment finishes.

  <br><br>
  The scheduler will set environment variables <b><i>CUDA_VISIBLE_DEVICES</i></b> and <b><i>TF_CONFIG</i></b> to give
  the program information about the available environment.

  {% if max_time %}
  <br><br>
  There is currently a maximum time set until your program will be stopped.
  It is currently set at {{max_time}} hours.
  {% endif %}


  <h2>Usage Notes</h2>
  <ul>
    <li>Please make sure that you fully utilize the resources that you are assigned, otherwise the scheduler might stop your program.</li>
    <li>Do not use resources you are not assigned to.</li>
    <li>Please try to keep CPU usage low in your program. E.g. do preprocessing or evaluation on your own computer</li>
    <li>Please try to avoid unnecessary load. E.g. training after your model is already converged, or too loose hyper parameter search</li>
    <li>And of course only use the workstation for your research!</li>
  </ul>
</p>

<form name="experimentform" oninput="update_form()" method="post" action="/home/post" autocomplete="off" enctype="multipart/form-data">
  <fieldset class="form-group">
    <legend>Scheduling an Experiment</legend>

    <div class="form-group">
      <label for="experimentname">Experiment Name</label>
      <small class="form-text text-muted">Optional experiment name, so that you can still identify it later.</small>
      <input type="text" id="experimentname" name="experimentname" value="" maxlength="32" class="form-control" placeholder="Enter experiment name" required>
    </div>

    <div class="form-group">
      <label for="dockerfile">Dockerfile</label>
      <small class="form-text text-muted">The dockerfile to run.</small>
      <input type="file" id="dockerfile" name="dockerfile" class="form-control-file" required>
    </div>

    <div class="form-group">
      <label for="inputres">Input Resource Path</label>
      <small class="form-text text-muted">The path to an input resource to be used in your program. Relative from your directory in the workstation resource folder.
        The folder will be located under /kw_resources/input_res in the docker container.</i></small>
      <input type="text" id="inputres" name="inputres" class="form-control" placeholder="Enter resource path">
    </div>

    <div class="form-group">
      <label for="outputfolder">Output Path</label>
      <small class="form-text text-muted">The path to an output folder for your program. Relative from your directory in the workstation resource folder.
      The folder will be located under /kw_resources/output_folder in the docker container.</small>
      <input type="text" id="outputfolder" name="outputfolder" class="form-control" placeholder="Enter output folder path">
    </div>

    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="canrestart" name="canrestart" value="canrestart" checked>
        <label for="canrestart" class="form-check-label">Can be restarted</label>
        <small class="form-text text-muted">Whether it is possible to restart your running program so that it continues from where it stopped. This is necessary
           so that the scheduler can rearrange GPU assignments and optimize the overall resource usage.
           Therefore if you cannot restart, you will only be assigned one GPU at maximum.</small>
      </div>
      <div class="form-check">
        <input type="checkbox" id="multiworker" name="multiworker" value="multiworker">
        <label for="multiworker" class="form-check-label">Can use multiple workers</label>
        <small class="form-text text-muted">Whether your program is able to support multi-worker execution.
         Currently only distributed tensorflow is supported.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="framework" class="form-select-label">Framework</label>
      <select name="framework" id="framework" class="form-control">
        <option value="tensorflow">Tensorflow</option>
        <option value="other">Other</option>
      </select>
      <small class="form-text text-muted">The framework you are using. Multi-worker use is currently only supported on tensorflow.</small>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input type="radio" id="forcesinglegpu" name="gpusettings" value="forcesinglegpu">
        <label for="forcesinglegpu" class="form-check-label">Force use single GPU</label>
        <small class="form-text text-muted">If your program is unable to run on multiple GPU, select this option.</small>
      </div>
      <div class="form-check">
        <input type="radio" id="useavailable" name="gpusettings" value="useavailable" checked>
        <label for="useavailable" class="form-check-label">Use what is available</label>
      </div>
    </div>

    <button type="submit"class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<br><br>

<table class="table table-striped table-dark" >
  <caption>Current Workstation Load</caption>
  <tr>
    <th>Host</th>
    {% for device_index in range(max_num_gpu) %}
    <th>GPU {{device_index}}</th>
    {% endfor %}
  </tr>
  {% for row in workstation_load_table_content %}
  <tr>
    {% for col in row %}
    <td style="background-color: {{col[1]}};">{{col[0]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table><br>

<table class="table table-striped table-dark"  id="waitingexperiments">
  <caption>Waiting Experiments</caption>
  <tr>
    <th>Schedule Time</th>
    <th>Experiment Name</th>
    <th>User Name</th>
    <th>Experiment ID</th>
    <th>Actions</th>
  </tr>
  {% for e in waiting_experiments %}
  <tr>
    <td>{{e.schedule_time}}</td>
    <td>{{e.name}}</td>
    <td>{{e.user_name}}</td>
    <td>{{e.unique_id}}</td>
    <td><form method="post" name="activeexperimentform" onsubmit="return confirm('Really stop this experiment?')" style="display: inline; margin: 0px; padding: 0px" action="/post">
        <input type="submit" value="Stop" name="{{e.unique_id}}" class="btn btn-secondary">
    </form></td>
  </tr>
  {% endfor %}
</table><br>

<table class="table table-striped table-dark"  id="pendingexperiments">
  <caption>Pending Experiments</caption>
  <tr>
    <th>Schedule Time</th>
    <th>Experiment Name</th>
    <th>User Name</th>
    <th>Experiment ID</th>
    <th>Actions</th>
  </tr>
  {% for e in pending_experiments %}
  <tr>
    <td>{{e.schedule_time}}</td>
    <td>{{e.name}}</td>
    <td>{{e.user_name}}</td>
    <td>{{e.unique_id}}</td>
    <td><form method="post" name="activeexperimentform" onsubmit="return confirm('Really stop this experiment?')" style="display: inline; margin: 0px; padding: 0px" action="/post">
        <input type="submit" value="Stop" name="{{e.unique_id}}" class="btn btn-secondary">
    </form></td>
  </tr>
  {% endfor %}
</table><br>

<table class="table table-striped table-dark"  id="activeexperiments">
  <caption>Active Experiments</caption>
  <tr>
    <th>Start Time</th>
    <th>Experiment Name</th>
    <th>User Name</th>
    <th>Experiment ID</th>
    <th>Actions</th>
  </tr>
  {% for id, e in active_experiments.items() %}
  <tr>
    <td>{{e.start_time}}</td>
    <td>{{e.name}}</td>
    <td>{{e.user_name}}</td>
    <td style="background-color: {{active_experiment_to_color[id]}};">{{e.unique_id}}</td>
    <td>
      <form method="post" name="activeexperimentform" style="display: inline; margin: 0px; padding: 0px" action="/home/post">
        <input type="submit" value="Stdout" name="{{e.unique_id}}" class="btn btn-secondary">
        <input type="submit" value="Stderr" name="{{e.unique_id}}" class="btn btn-secondary">
      </form>
      <form method="post" name="activeexperimentform" onsubmit="return confirm('Really stop this experiment?')" style="display: inline; margin: 0px; padding: 0px" action="/home/post">
        <input type="submit" value="Stop" name="{{e.unique_id}}" class="btn btn-secondary">
      </form>
    </td>
  </tr>
  {% endfor %}
</form>
</table><br>

<table class="table table-striped table-dark"  id="finishedexperiments">
  <caption>Finished Experiments</caption>
  <tr>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Experiment Name</th>
    <th>User Name</th>
    <th>Experiment ID</th>
    <th>Return Code</th>
    <th>Actions</th>
  </tr>
  <form method="post" name="finishedexperimentform" action="/home/post">
    {% for e in finished_experiments.values() %}
    <tr>
      <td>{{e.start_time}}</td>
      <td>{{e.finish_time}}</td>
      <td>{{e.name}}</td>
      <td>{{e.user_name}}</td>
      <td>{{e.unique_id}}</td>
      <td>{{e.finish_return_code}}</td>
      <td><input type="submit" value="Stdout" name="{{e.unique_id}}" class="btn btn-secondary">
        <input type="submit" value="Stderr" name="{{e.unique_id}}" class="btn btn-secondary"></td>
    </tr>
    {% endfor %}
  </form>
</table><br>
{% endblock %}

{% block scripts %}
<script>
  function update_form() {
      if (document.getElementById('framework').selectedIndex == 0) {
          document.getElementById('multiworker').disabled = false;
      } else {
          document.getElementById('multiworker').disabled = true;
          document.getElementById('multiworker').checked = false;
      }

      if (document.getElementById('canrestart').checked) {
          document.getElementById('restartcmd').disabled = false;
          document.getElementById('useavailable').disabled = false;
          document.getElementById('forcesinglegpu').disabled = false;
      } else {      
          document.getElementById('restartcmd').disabled = true;
          document.getElementById('restartcmd').value = "";
          document.getElementById('useavailable').disabled = true;
          document.getElementById('forcesinglegpu').disabled = true;
          document.getElementById('forcesinglegpu').checked = true;
      }
  }
  
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
