{% extends 'base.html' %}


{% block container %}
<p>Hello {{user_name}}!
  <form method="post" name="logoutform" action="/logout">
    <input type="submit", value="Logout" class="btn btn-primary">
  </form>
</p>
<p>
  Here you can schedule programs to be run on the Kumazawa Lab workstation.<br><br>

  The scheduler tries to maximize resource usage, while keeping waiting times for everyone low.
  Therefore it aims to run as many programs as possible in parallel.

  {% if max_time %}
  <br><br>
  There is currently a maximum time set until your program will be stopped.
  It is currently set at {{max_time}} hours.
  {% endif %}

  <br><br>
  The scheduler makes use of <a href="https://www.docker.com/">Docker</a> containers. For this to work, you need to supply
  a docker file. Please refer to the <a href="https://docs.docker.com/get-started/">official get-started</a> from docker for help.
  One thing to keep in mind however is that you cannot take any local build context into your container. Therefore you should supply your code
  via git or something similar within the <a href="https://docs.docker.com/engine/reference/builder/">Dockerfile</a>.
  Your directory in the workstation resource folder will be mounted at <i>{{ docker_resource_folder }}</i> within the docker container.
  An example docker file can be found <a href="{{ url_for('docker_example') }}">here</a>.


  <h2>Usage Notes</h2>
  <ul>
    <li>Please make sure that you fully utilize the resources that you are assigned, otherwise the scheduler might stop your program.</li>
    <li>Please try to keep CPU usage low in your program.</li>
    <li>And of course only use the workstation for your research!</li>
  </ul>
</p>

<form name="experimentform" oninput="update_form()" method="post" action="{{url_for('post')}}" autocomplete="off" enctype="multipart/form-data">
  <fieldset class="form-group">
    <legend>Scheduling an Experiment</legend>

    <div class="form-group">
      <label for="experimentname">Experiment Name</label>
      <small class="form-text text-muted">Optional experiment name, so that you can still identify it later.</small>
      <input type="text" id="experimentname" name="experimentname" value="" maxlength="32" class="form-control" placeholder="Enter experiment name" required>
    </div>

    <div class="form-group">
      <label for="dockerfile">Dockerfile</label>
      <small class="form-text text-muted">The dockerfile to run.</small>
      <input type="file" id="dockerfile_upload" class="form-control-file">
      <textarea class="form-control" rows="8" cols="50" id="dockerfile" name="dockerfile" placeholder="Paste the contents of your Dockerfile here or upload it above" required></textarea>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="multiworker" name="multiworker" value="multiworker">
        <label for="multiworker" class="form-check-label">Can use multiple workers</label>
        <small class="form-text text-muted">Whether your program is able to support multi-worker execution. I.e., are you able to distribute your program on multiple computers?
         Currently only users of tensorflow estimator can use this.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="framework" class="form-select-label">Framework</label>
      <select name="framework" id="framework" class="form-control">
        <option value="tensorflow">Tensorflow</option>
        <option value="other">Other</option>
      </select>
      <small class="form-text text-muted">The framework you are using. Multi-worker use is currently only supported on tensorflow.</small>
    </div>

    <div class="form-group">
      <label for="framework" class="form-select-label">Number of GPUs to use</label>
        <select name="gpusettings" id="gpusettings" class="form-control">
          {% for i in range(1, total_num_gpu + 1) %}
              <option value={{i}}>{{i}}</option>
          {% endfor %}
        </select>
    </div>

    <div class="form-group">
      <label for="framework" class="form-select-label">Host selection</label>
      <div>
          {% for worker_id in workers %}
          <label class="checkbox-inline">
              <input type="checkbox" checked data-toggle="toggle" id="include_{{worker_id}}" name="include_{{worker_id}}" value="include_{{worker_id}}" > {{worker_id}}
          </label>
          {% endfor %}
          <small class="form-text text-muted">
              Choose hosts that you want to use.
              If you don't turn on the multi-worker feature, then the scheduler will choose one that is available
              and your experiment will be run on that worker.
          </small>
      </div>
    </div>

    <button type="submit"class="btn btn-primary">Submit</button>
  </fieldset>
</form>
<br><br>

<table class="table table-striped table-dark" >
  <caption>Current Workstation Load</caption>
  <tr>
    <th>Host</th>
    {% for device_index in range(max_num_gpu) %}
    <th>GPU {{device_index}}</th>
    {% endfor %}
  </tr>
  {% for row in workstation_load_table_content %}
  <tr>
    {% for col in row %}
    <td style="background-color: {{col[1]}};">{{col[0]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table><br>

<table class="table table-striped table-dark"  id="pendingexperiments">
  <caption>Pending Experiments</caption>
  <tr>
    <th>Schedule Time</th>
    <th>Experiment Name</th>
    <th>User Name</th>
    <th>Experiment ID</th>
    <th>Actions</th>
  </tr>
  {% for e in pending_experiments %}
  <tr>
    <td>{{e.schedule_time.strftime('%Y-%m-%d %H:%M')}}</td>
    <td>{{e.name}}</td>
    <td>{{e.user_name}}</td>
    <td>{{e.unique_id}}</td>
    <td>
        <a class="btn btn-secondary" href="{{url_for('dockerfile', experiment_id=e.unique_id)}}">Dockerfile</a>
        <form method="post" name="activeexperimentform" onsubmit="return confirm('Really stop this experiment?')" style="display: inline; margin: 0px; padding: 0px" action="{{url_for('post')}}">
            <input type="submit" value="Stop" name="{{e.unique_id}}" class="btn btn-secondary">
        </form>
    </td>
  </tr>
  {% endfor %}
</table><br>

<table class="table table-striped table-dark"  id="activeexperiments">
  <caption>Active Experiments</caption>
  <tr>
    <th>Start Time</th>
    <th>Experiment Name</th>
    <th>User Name</th>
    <th>Experiment ID</th>
    <th>Actions</th>
  </tr>
  {% for id, e in active_experiments.items() %}
  <tr>
    <td>{{e.start_time.strftime('%Y-%m-%d %H:%M')}}</td>
    <td>{{e.name}}</td>
    <td>{{e.user_name}}</td>
    <td style="background-color: {{active_experiment_to_color[id]}};">{{e.unique_id}}</td>
    <td>
      <a class="btn btn-secondary" href="{{url_for('stdout', experiment_id=e.unique_id)}}">Stdout</a>
      <a class="btn btn-secondary" href="{{url_for('stderr', experiment_id=e.unique_id)}}">Stderr</a>
      <a class="btn btn-secondary" href="{{url_for('dockerfile', experiment_id=e.unique_id)}}">Dockerfile</a>
      <form method="post" name="activeexperimentform" onsubmit="return confirm('Really stop this experiment?')" style="display: inline; margin: 0px; padding: 0px" action="{{url_for('post')}}">
        <input type="submit" value="Stop" name="{{e.unique_id}}" class="btn btn-secondary">
      </form>
    </td>
  </tr>
  {% endfor %}
</form>
</table><br>

<table class="table table-striped table-dark"  id="finishedexperiments">
  <caption>Finished Experiments</caption>
  <tr>
    <th><p>Start Time</p></th>
    <th><p>Finish Time</p></th>
    <th>
	<p class="u-margin-bottom-tiny">Experiment Name</p>
        <input class="filter_box filter_box--experiment" type="text" placeholder="filter by experiment">
    </th>
    <th>
        <p class="u-margin-bottom-tiny">User Name</p>
        <input class="filter_box filter_box--name" type="text" placeholder="filter by name">
    </th>
    <th><p>Experiment ID</p></th>
    <th><p>Return Code</p></th>
    <th><p>Actions</p></th>
  </tr>
  {% for e in finished_experiments.values()|sort(attribute='finish_time', reverse=True) %}
  <tr class="table__drow">
    <td class="table__dcell--start"><p>{{e.start_time.strftime('%Y-%m-%d %H:%M')}}</p></td>
    <td class="table__dcell--end"><p>{{e.finish_time.strftime('%Y-%m-%d %H:%M')}}</p></td>
    <td class="table__dcell--experiment_name"><p>{{e.name}}</p> </td>
    <td class="table__dcell--username"><p>{{e.user_name}}</p></td>
    <td class="table__dcell--experiment_id"><p>{{e.unique_id}}</p></td>
    <td class="table__dcell--code"><p>{{e.finish_return_code}}</p></td>
    <td class="table__dcell--ops">
        <a class="btn btn-secondary" href="{{url_for('stdout', experiment_id=e.unique_id)}}">Stdout</a>
        <a class="btn btn-secondary" href="{{url_for('stderr', experiment_id=e.unique_id)}}">Stderr</a>
        <a class="btn btn-secondary" href="{{url_for('dockerfile', experiment_id=e.unique_id)}}">Dockerfile</a>
    </td>
  </tr>
  {% endfor %}
</table><br>
{% endblock %}

{% block scripts %}
<script>

  document.getElementById('dockerfile_upload').addEventListener('change', get_file)

  function get_file(event) {
	  const input = event.target
      if ('files' in input && input.files.length > 0) {
	      place_file_content(
              document.getElementById('dockerfile'),
              input.files[0])
      }
  }

  function place_file_content(target, file) {
	  read_file_content(file).then(content => {
  	      target.value = content
      }).catch(error => console.log(error))
  }

  function read_file_content(file) {
	  const reader = new FileReader()
      return new Promise((resolve, reject) => {
          reader.onload = event => resolve(event.target.result)
          reader.onerror = error => reject(error)
          reader.readAsText(file)
      })
  }
  
  function update_form() {
      if (document.getElementById('framework').selectedIndex == 0) {
          document.getElementById('multiworker').disabled = false;
      } else {
          document.getElementById('multiworker').disabled = true;
          document.getElementById('multiworker').checked = false;
      }
  }
  
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}
