<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
    <title>Workstation Experiment Scheduler</title>
  </head>
  <body>
    <h1>Workstation Experiment Scheduler</h1>

    <form name="experimentform" oninput="update_form()" method="post">
    <fieldset>
      <legend>Scheduling an Experiment</legend>
      
      Working directory will be your home directory!<br>

      User Name: <br>
      <select name="username">
      {% for user_name in user_name_list %}
      <option value="{{user_name}}">{{user_name}}</option>
      {% endfor %}
      </select><br>

      Experiment Name:<br>
      <input type="text" name="experimentname" value="" maxlength="32" required><br>

      Experiment Execution Command:<br>
      <input type="text" name="execcmd" value="" required><br><br>
      <fieldset>
      <input type="checkbox" id="canrestart" name="canrestart" value="canrestart" checked>Can be restarted<br>
      Experiment Restart Command:<br>
      <input type="text" id="restartcmd" name="restartcmd" value=""><br>
      </fieldset>

      Development Framework:<br>
      <select name="framework" id="framework">
        <option value="tensorflow">Tensorflow</option>
        <option value="chainer">Chainer</option>
      </select><br>

      <input type="checkbox" id="multiworker" name="multiworker" value="multiworker">Can use multiple workers<br><br>
      <fieldset>
        <legend>Worker GPU Settings</legend>
        <input type="radio" id="forcesinglegpu" name="gpusettings" value="forcesinglegpu">Force use only single GPU<br>
        <input type="radio" id="useavailable" name="gpusettings" value="useavailable" checked>Use what is available (recommended)<br>
      </fieldset><br>

      <input type="submit" value="Submit"><br>
    </fieldset>
    </form>

    {% if form_success %}
    <p id='formmsg'><font color="green"><b>{{form_msg}}</b></font></p>
    {% else %}
    <p id='formmsg'><font color="red"><b>{{form_msg}}</b></font></p>
    {% endif %}

    Current Workstation Load:
    <table>
      <tr>
        <th>Host</th>
        {% for device_index in range(num_devices_per_worker) %}
        <th>GPU {{device_index}}</th>
        {% endfor %}
      </tr>
      {% for worker in workers.values() %}
      <tr>
        <td>{{worker.host}}</td>
        {% for device_state in worker.device_states %}
        {% if device_state %}
        <td style="background-color: green;">Free</td>
        {% else %}
        <td style="background-color: red;">Used</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table><br>

    Pending Experiments:
    <table id="pendingexperiments">
      <tr>
        <th>Schedule Time</th>
        <th>Experiment Name</th>
        <th>User Name</th>
        <th>Experiment ID</th>
        <th>Actions</th>
      </tr>
      {% for e in pending_experiments %}
      <tr>
        <td>{{e.schedule_time}}</td>
        <td>{{e.name}}</td>
        <td>{{e.user_name}}</td>
        <td>{{e.unique_id}}</td>
      </tr>
      {% endfor %}
    </table><br>

    Active Experiments:
    <table id="activeexperiments">
      <tr>
        <th>Start Time</th>
        <th>Experiment Name</th>
        <th>User Name</th>
        <th>Experiment ID</th>
        <th>Actions</th>
      </tr>
      {% for e in active_experiments.values() %}
      <tr>
        <td>{{e.start_time}}</td>
        <td>{{e.name}}</td>
        <td>{{e.user_name}}</td>
        <td>{{e.unique_id}}</td>
        <td>
          <form method="post" name="activeexperimentform" style="display: inline; margin: 0px; padding: 0px">
            <input type="submit" value="Stdout" name="{{e.unique_id}}">
            <input type="submit" value="Stderr" name="{{e.unique_id}}">
          </form>
          <form method="post" name="activeexperimentform" onsubmit="return confirm('Really stop this experiment?')" style="display: inline; margin: 0px; padding: 0px">
            <input type="submit" value="Stop" name="{{e.unique_id}}">
          </form>
        </td>
      </tr>
      {% endfor %}
      </form>
    </table><br>

    Finished Experiments:
    <table id="finishedexperiments">
      <tr>
        <th>Start Time</th>
        <th>Finish Time</th>
        <th>Experiment Name</th>
        <th>User Name</th>
        <th>Experiment ID</th>
        <th>Return Code</th>
        <th>Actions</th>
      </tr>
      <form method="post" name="finishedexperimentform">
      {% for e in finished_experiments.values() %}
      <tr>
        <td>{{e.start_time}}</td>
        <td>{{e.finish_time}}</td>
        <td>{{e.name}}</td>
        <td>{{e.user_name}}</td>
        <td>{{e.unique_id}}</td>
        <td>{{e.finish_return_code}}</td>
        <td><input type="submit" value="Stdout" name="{{e.unique_id}}">
          <input type="submit" value="Stderr" name="{{e.unique_id}}"></td>
      </tr>
      {% endfor %}
      </form>
    </table><br>


    <script>
      function update_form() {
          if (document.getElementById('framework').selectedIndex == 0) {
              document.getElementById('multiworker').disabled = false;
          } else {
              document.getElementById('multiworker').disabled = true;
              document.getElementById('multiworker').checked = false;
          }

          if (document.getElementById('canrestart').checked) {
              document.getElementById('restartcmd').disabled = false;
              document.getElementById('useavailable').disabled = false;
              document.getElementById('forcesinglegpu').disabled = false;
          } else {
              
              document.getElementById('restartcmd').disabled = true;
              document.getElementById('restartcmd').value = "";
              document.getElementById('useavailable').disabled = true;
              document.getElementById('forcesinglegpu').disabled = true;
              document.getElementById('forcesinglegpu').checked = true;
          }
      }
    </script>

  </body>
</html>
