span[data-toggle="tooltip"] {
  border-bottom: 1px dotted black;
}

@media (min-width: 1500px){
        .container{
                max-width: 1400px;
        }
}

.filter_box {
    background-color: rgba(0, 0, 0, .1);
    border: none;
    color: white;
    width: 7rem;
}

.filter_box--experiment {
    width: 10rem;
}

.filter_box:focus {
    outline: none;
}

.filter_box:hover {
    background-color: rgba(0, 0, 0, .3);
}

.u-margin-bottom-tiny {
    margin-bottom: .5rem;
}
